*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    background-color: chocolate;
    padding: 10px;
}
form{
    margin-top: 2%;
    justify-content: center;
    background-color: brown;
    display: flex;
    border: 2px solid brown;
    align-items: center;
    padding: 10px;
}
button{
    text-decoration: none;
    background-color: white;
    color: brown;
    border: 2px solid brown;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
button:hover{
    background-color: brown;
    color: white;
    transition: 0.5s;
    border: 2px solid black;
}
#resultado{
    
    text-align: center;
    padding-top: 40px;
    margin-top: 10px;
    background-color: chocolate;
    height: 100px;
    
}
input{
    border-radius: 5px;
    border: none;
}
label{
    margin: 5px;
}
@media screen and(max-width: 530px) {
 form{
   flex: 100%;
}
#resultado{
    overflow: hidden;
}
input{
    flex: 100%;
}
}